.form-row-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;

  & > .remove-btn {
    align-self: center;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0 0 0 2rem;
    background-color: none;
    color: red;
  }
}
